.characters-list{
  padding: 20px 10px;
  // list-style: none;
  // vertical-align: text-top;
  .characters{
    border: solid 1px;
    padding: 10px;
    width: 30%;
    height: 100%;
    display: inline-block;
    &__character{
      margin: 10px 5px 10px 20px;
    }
    &__name {
      list-style: none;
      padding-bottom: 10px;
    } 
  }
  .statuses{
    border: solid 1px;
    // position: absolute;
    padding: 10px;
    width: 30%;
    height: 100%;
    display: inline-block;
    // .hp{
    //   position: relative;
    //   top: 0;
    //   left: 0;
    // }
    &__status{
      margin: 10px 5px 10px 20px;
    }
    &__hp{
      list-style: none;
      padding-bottom: 10px;
    }
  }
}

// .clearfix {
//   *zoom: 1;
// }
// .clearfix:after {
//   content: "\0020";
//   display: block;
//   height: 0;
//   clear: both;
//   overflow: hidden;
//   visibility: hidden;
// }